//VARIABLER

//Farver
$eggshell: #f0f0f0; 
$light-sand: #efe1cc;
$dark-sand: #a89488;
$golden: #bf8f50;
$light-blue: #b5c5d7;
$dark-blue: #5B6475;
$midnight-black: #0b090a;

//Skrifttyper 
$six-hands-brush: "six-hands-brush", sans-serif; //400 normal
$museo-500: "museo-sans", sans-serif, 500;
$museo-300: "museo-sans", sans-serif, 300;
$museo-100: "museo-sans", sans-serif, 100;

//
